@page "/superadmin"
@page "/superadmin/home"

@inherits LoggedLayout
@layout LoggedLayout


@inject NavigationManager NavigationManager
@inject HttpClient _httpclient
@inject IAppControllerAsync<UserAuthenticated> _appctrl
@inject IAppSettings _settings
@inject IDialogService DialogService


<PageTitle>Área do Super Admin</PageTitle>


<h1>Bem-vido ao módulo Superadmin</h1>

<strong>(implementar recursos de dashboad aqui!)</strong>


@code {


    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            if (await this.InitResources())
            {
                await this.InitCacheAndLocalization();

                await _appctrl.SetPageTitle("");
            }

            StateHasChanged();

        }
    }

    
}
