@page "/"
@page "/home"

@inherits MainLayout
@layout MainLayout

<PageTitle>Home</PageTitle>

<h1>Bem-vindo ao FullDevTollKit Template</h1>
<br/>

<strong>Um template para desenvolvimento de sistemas em .Net</strong>
<br/>
<strong>Recursos de Sistema:</strong>

<ul>
    <li>Módulo Super Administrador:</li>
    <li>Gerenciamento: Instâncias, Perfis de Usuários, Usuários e Permissões </li>
    <li>Gerenciamento e mecanismos de localização de textos para vários idiomas</li>
    <li>Monitoramento: sessões de usuários, log de auditoria de dados e log de erros</li>    
</ul>   

<br />
<strong>Recursos de Desenvolvimento:</strong>

<ul>
    <li>Infraestrutura para acesso a dados (SQLServer + Dapper)</li>
    <li>Infraestrutura para implementação das classes de domínio (Domain) </li>
    <li>Infraestrutura para implementação de WebAPI (métodos GET e POST)</li>
    <li>Classes base para implementação dos métodos de Proxy (ponte entre o back e front)</li>
    <li>Interface gráfica básica feita em Blazor + FluentUI</li>
    <li>Páginas de login e todo o módulo administrativo já pronto</li>
</ul>   